

$iconsSize: 18, 24, 36, 48;
$zIndex: 1, 2, 3, 5, 5;

@each $size in $iconsSize {
    .material-icons{
        &.md-#{$size}{
            font-size: $size + px;
        }
    }
}
@each $i in $zIndex {
    .z-#{$i}{
        z-index: $i;
    }
}
nav {
    input:checked {
        &+label {
            border: 1px solid var(--bs-primary) !important;
        }
    }
}
#main-header{
    height: 60px;
}
#wrap-cards{
    left: -100%;
    transition: left ease-in 350ms;
    &.open{
        left: 0;
    }
}
#info-route {
    height: 220px;
    bottom: -235px;
    transition: bottom 350ms ease-in 200ms;

    &.open {
        bottom: 0;
    }
    button{
        top: -15px;
        right: -10px;
    }
}
#toast-info{
    bottom: 10px;
}
.no-caret{
    &::after{
        display: none;
    }
}
.wrap-pharmacy {
   cursor: pointer;
   &:hover{
    border-color: var(--bs-primary)!important;
   }
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50rem;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50rem;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width:767px) {
    #wrap-cards{
        position: fixed;
    }
    #info-route {
        &.open{
            bottom: 60px;
        }
    }
    #toast-info{
        bottom: 60px;
    }
}